# 構建輸出目錄
/build/
/dist/

# 臨時目錄
/tmp*/

# 打包文件
*.zip

# 依賴目錄
/node_modules/

# IDE 和編輯器文件
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# 日誌文件
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 環境變數文件
.env
.env.local
.env.*.local

# 其他
*.bak
*.tmp
*~ 